{{#each this}}
    <h1 class="country-title">{{name}}</h1>
    <div class="country-box">
        <ul class="list country-info">
            <li class="country-item">Capital:<span class="country-text"> {{this.capital}}</li>
            <li class="country-item">Population:<span class="country-text"> {{this.population}}</li>
            <li class="country-item">Languages:<span class="country-text">
                <ul>
                   {{#each languages}}
                    <li class="language-item">{{name}}</li>
                    {{/each}}
                </ul>
            </li>
        </ul>
        <img src="{{this.flag}}" alt='Flag of {{this.name}}' width="250px" height="auto">
    </div>
{{/each}}
